.legend-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 85%;
  margin: 0 auto;
}

.legend {
  width: 40px;
  height: 15px;
  margin-right: 5px;
}

.legend-component {
  display: flex;
  width: 33%;
  justify-content: center;
  font-size: 12px;
}