$text-color: #000;
$second-text-color: #555;
$box-shadow: rgba(0, 0, 0, 0.3);
$background-selected-color: #efefef;

$neutral-box-shadow: rgba(0, 0, 0, 0.3);
$negative-box-shadow: rgba(#b22222, 0.5);
$positive-box-shadow: rgba(0, 100, 0, 0.5);

$link-color-hover: red;

$arrow-color-disabled: #ccc;


$tab-hover-color: rgba(0, 0, 0, 0.3);

$theme-color: #341f97;
$header-light-theme: #fff;
$header-secondary-color: #c8d6e5;
$border-theme: rgba($theme-color, 0.1);

$link-color: $theme-color;
$tab-underline-color: $theme-color;
$arrow-color: rgba($theme-color, 0.5);
$arrow-color-on-hover: rgba($theme-color, 1);
